.search-keyword-wrap {
    padding: 30px;
    background: lightgoldenrodyellow;
    border-radius: 30px;
    width: 50%;
    margin: 20px auto;
    align-content: center;
    align-items: center;
}

.div-search-keyword-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div-search-keyword-wrap > label {
    color: orange;
    font-size: 30px;
}

.div-search-keyword-wrap > input {
    border-radius: 30px;
    width: 60%;
    padding: 10px;
}

.search-keyword-wrap li {
    background: orange;
}

.joke-read-link {
    color: black;
}


.lastThree {
    border-left: 5px solid orange;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-bottom: 50px;
}

.most-liked {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: lightgoldenrodyellow;
    margin: 10px 0px;
}


.most-liked > p {
    color: orange;
    font-size: 30px;
}

.best-joke {
    background: orange;
}

.best-joke:hover {
    background: green;
    color: white;
}
