.data {
    color: lightgoldenrodyellow;
    text-align: center;
    font-size: 40px;
    margin: 50px;
    border-bottom: 3px solid black;
}

.data > p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.data-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: orange;
    padding: 30px;
    border-radius: 30px;
    border: 3px solid orange;
    width: fit-content;

    font-size: 20px;
    font-weight: bolder;
}

.data-link:hover {
    cursor: pointer;
    background-color: lightskyblue;
    color: black;

}