.main-section {
    background: lightgoldenrodyellow;
    color: black;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    min-width: 100ch;
    word-break: break-all;
}

.property {
    font-size: 1.2em;
    font-weight: bold;
    min-width: 100%;
    font-family: "Droid Serif", Serif, serif;
    line-height: 1.4;
}

.link {
    padding: 10px;
    border-radius: 30px;
    background: #03e9f4;
    width: fit-content;
    color: black;
}

.link:hover {
    background: darkgreen;
    color: white;
}

.title {
    border-bottom: 3px solid #03e9f4;

}

.content {
    margin: 20px;
}