.wrap-all {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}