.joke-card {
    width: 30%;
    padding: 10px;
    border: 3px solid orange;
    margin: 10px;
    font-size: 1.2rem;
    line-height: 2;
}

.joke-card-link {
    color: black;
    padding: 10px 20px;
    margin-top: 40px;
    font-size: 1.5rem;
    background-color: orange;
    font-weight: bolder;
    font-family: Futura, serif;
}

.joke-card-link:hover {
    background-color: pink;
    border-radius: 30px;
}

.joke-card-data {

    font-family: "American Typewriter", serif;
    color: lightblue;
    word-break: break-word;
}

.comment {
    color: orange;
    margin: 10px 30px;
}

.modal-style-likes {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0%, 100%);
    background-color: lightblue;
    color: black;
    padding: 20px;
    line-height: 1.5;
    border-radius: 30px;
    border: 3px solid black;
    width: fit-content;
}

.title-modal-likes {
    text-align: center;
    font-weight: bolder;
    border-bottom: 3px solid orange;
}

.hover-data:hover {
    cursor: pointer;
}